
@{
    ViewData["Title"] = "Login page";
}

<body>
    <div class="text-center">
        <div class="title">@ViewData["Title"]</div>
        <div class="sub_title">Here you can enter in your personal account</div>
        <div class="input">
            <table class="login-info">
                <tr>
                    <th><label for="username">Username:</label></th>
                    <td><input type=text name="username" placeholder="Enter your username" required></td>
                </tr>
                <tr>
                    <th><label for="password">Password:</label></th>
                    <td>
                        <input type=password name="password" placeholder="Enter password" id="password" required>
                        <input type="checkbox" onclick="showPassword()" class="largerCheckbox">
                        <label for="checkbox">Show</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="sub_title">Don't have an account? Please register</div>

        <div class="btns">
            <a class="nav-button" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
            <a class="nav-button" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </div>
    </div>
</body>