@model Bits_on_chips_application.Models.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register page";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_sub_title" style="color:red">@TempData["message"]</div>
    <form class="input" method="post" asp-action="Register" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger" style="font-size:24px"></div>
        <table class="personal-info">
            <tr>
                <th><label asp-for="FirstName"></label></th>
                <td>
                    <input type="text" placeholder="Enter first name" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="LastName"></label></th>
                <td>
                    <input type="text" placeholder="Enter last name" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="BirthDate"></label></th>
                <td>
                    <input type="date" placeholder="Enter birth date" asp-for="BirthDate" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="Address"></label></th>
                <td>
                    <input type="text" placeholder="Enter address" asp-for="Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="Email"></label></th>
                <td>
                    <input type="text" placeholder="Enter e-mail" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="Phone"></label></th>
                <td>
                    <input type="tel" placeholder="Enter phone number" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="PhotoFile"></label></th>
                <td>
                    <input type="file" placeholder="Insert profile picture" asp-for="PhotoFile" required />
                    <span asp-validation-for="PhotoFile" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="Username"></label></th>
                <td>
                    <input type=text placeholder="Enter your username" asp-for="Username">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label asp-for="Password"></label></th>
                <td>
                    <input type=password placeholder="Enter password" id="password" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    <input type="checkbox" onclick="showPassword()" class="largerCheckbox">
                    <label for="checkbox">Show password</label>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="ConfirmPassword"></label>
                </th>
                <td>
                    <input type=password placeholder="Reenter password" asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th>
                    <label asp-for="RoleName" hidden></label>
                </th>
                <td>
                    <select asp-items="@Bits_on_chips_application.Utility.Helper.GetRolesForLogin()" asp-for="RoleName" hidden></select>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </td>
            </tr>
        </table>
        <div class="btns">
            <input type="submit" class="nav-button" value="Register" />

            <a class="nav-button" style="margin-bottom: 20px" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
    </form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>