@model Bits_on_chips_application.Models.CartItem
@{
    ViewData["Title"] = "Access denied";
}
<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <hr />
    <h4> You are not allowed to access this page, please return to another page.</h4>
    <br/>
    <br/>
    <div class="btns btns-post">
        <a asp-action="Index">back to home</a>
    </div>
</div>
