@{
    ViewData["Title"] = "Contact page";
}


<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_title">Contact info </div>
    <div class="sub_sub_title">
        <ul>
            <li><b>Address:</b> Str. Motherboard, Nr. 127.0.0.1</li>
            <li><b>E-mail:</b> bitsNchips@components.pc</li>
            <li><b>Phone number:</b> 10100001000011</li>
        </ul>
    </div>
    <div class="sub_title">Customer support program</div>
    <div class="sub_sub_title">
        <ul>
            <li><b>Sales department:</b> Monday-Friday: 8:00 - 16:00</li>
            <li><b>Warranty department:</b> Monday-Friday: 9:00 - 19:00</li>
            <li><b>Support department:</b> Monday-Saturday: 8:30 - 19:30</li>
        </ul>
    </div>
</div>