@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_title">Welcome to the <b>Bits on chips</b> website!</div>
    <div class="sub_title">Feel free to search for any computer parts on our online store</div>
    <br/><br/><br/>
    <div class="btns">
        <a class="nav-button" asp-area="" asp-controller="Store" asp-action="Categories">Start shopping</a>
        <a class="nav-button" asp-area="" asp-controller="Home" asp-action="Contact">Help</a>
    </div>
</div>