@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_sub_title" style="color:red">@TempData["message"]</div>
    <div class="sub_title">Welcome to the <b>Bits on chips</b> website!</div>
    <div class="sub_title">Feel free to search for any computer parts on our online store</div>
    <br /><br /><br />
    <div class="btns">
        <a class="nav-button" asp-area="" asp-controller="Store" asp-action="Categories">Start shopping</a>
        <a class="nav-button" asp-area="" asp-controller="Home" asp-action="Contact">Help</a>
    </div>
</div>
@*<button id="open">
    Click me!
</button>
<div class="modal-container" id="modal_container">
    <div class="modal">
        <h1>What is a Modal 😎</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quo hic neque odio nisi, autem magnam.
            Labore commodi, eveniet saepe doloremque earum ullam officiis officia in natus rem quaerat excepturi sit blanditiis
            reprehenderit ea. Aut veniam dolorem tenetur rem voluptatum?
        </p>
        <button id="close">
            Close me
        </button>
    </div>
</div>
<script src="../wwwroot/js/site.js"></script>*@