/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.navbar {
    background: #1b1b1b;
    position: fixed;
    top: 0; 
    width: 100%; 
}

a.navbar-brand {
    white-space: normal;
    text-align: left;
    word-break: keep-all;
    font-size: 30px;
    font-weight: 500;
}
    a.navbar-brand:hover {
        color: darkcyan;
    }
*.navbar-nav {
    white-space: normal;
    text-align: right;
    word-break: keep-all;
    border-radius: 5px;
    font-size: 22px;
}

@media (min-width: 992px) {
    .container {
        max-width: 1900px;
    }
}
.navbar-collapse{
    flex-grow: unset;
}
/*Title styles---------------------------------
    --------------------------------------*/
.title {
    text-shadow: 3px 3px 5px rgb(0,100,255);
    font-size: 55px;
    margin: 20px 20px;
    font-weight: 600;
}

.sub_title {
    text-shadow: 2px 2px 4px rgb(0,100,255);
    font-size: 42px;
    margin: 15px 15px;
    font-weight: 600;
}
.sub_sub_title {
    text-shadow: 2px 2px 3px rgb(0,100,255);
    font-size: 30px;
    margin: 10px 10px;
    font-weight: 600;
}

/*Modals ---------------------------------
------------------------------------------*/
* {
    box-sizing: border-box;
}


button {
    background-color: #47A386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 25px;
}

.modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

    .modal-container.show {
        opacity: 1;
        pointer-events: auto;
    }

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    text-align: center;
    width: 600px;
    max-width: 100%;
         transform: translateY(-200%); 
         transition: transform 0.3s ease; 
}

.modal-container.show .modal {
         transform: translateY(0); 
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}

/*Buttons ---------------------------------
------------------------------------------*/

.btns {
    text-shadow: none;
    position: center;
    text-align: center;
}

    .btns a, .btns input {
        background: #1b1b1b;
        color: rgb(200, 255, 0);
        border-radius: 12px;
        margin: 30px 20px;
        border: 2px solid rgb(200, 255, 0);
        font-size: 20px;
        font-weight: 500;
        padding: 10px 10px;
        cursor: pointer;
        text-decoration: none;
    }

        .btns a:hover, .btns input:hover {
            background: lightgrey;
            border-color: darkcyan;
            color: darkcyan;
            transition: all 0.3s ease;
        }

* .btns-post {
    font-size: 20px;
    font-weight: 400;
}

* .btn-delete {
    border-radius: 6px;
    margin: 2px 20px 2px 20px;
    padding: 1px;
    border: 2px solid;
    border-color: red;
    background-color: #1b1b1b;
    color: red;
}
* .btn-edit {
    border-radius: 6px;
    margin: 2px 20px 2px 20px;
    padding: 1px;
    border: 2px solid;
    border-color: Highlight;
    color: Highlight;
}
* .btn-add {
    border-radius: 6px;
    margin: 2px;
    padding: 1px;
    border: 2px solid;
    border-color: orange;
    background-color:  #1b1b1b;
    color: orange;
}
    *.btn-delete:hover, *.btn-create:hover, *.btn-edit:hover, *.btn-add:hover {
        text-decoration: none;
        background: lightgrey;
        color: darkcyan;
        transition: all 0.3s ease;
    }

/*Lists, tables and inputs---------------
    ------------------------------------*/
.ui-autocomplete {
    background-color: #1b1b1b;
    max-width: 400px;
}
.comp_categ, ul li {
    list-style-type: none;
}
.comp_categ row {
    max-width: 25%;
}

.comp_categ a img {
    border: 2px solid rgb(200, 255, 0);
    border-radius: 15px;
    margin: 10px 10px;
    width: 250px;
    height: 200px;
}

    .comp_categ a img:hover {
        border: 5px solid darkcyan;
        border-radius: 15px;
        transition: all 0.3s ease;
    }

* table {
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
}

table th {
    text-align: right;    
}

table td {
    text-align: left;
}
*.component-table{
    margin-top:30px;
    table-layout: fixed;
    width:  100%;
}
    *.component-table thead {
        background-color: rgb(200, 255, 0);
        color: darkcyan;
    }

    * .component-table tbody {
        background-color: #1b1b1b;
        color: rgb(200, 255, 0);
    }

    * .component-table tbody tr td a:hover {
        color:darkcyan;
        transition: all 0.3s ease;
    }

        *.component-table thead tr th, *.component-table tbody tr td {
            text-align: center;
            border: solid;
        }

* label {
    text-shadow: 2px 2px 2px rgb(0,100,255);
    font-size: 30px;
}

.input * input {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.input .largerCheckbox{
    height: 20px;
    width: 20px;
}

/* Provide sufficient contrast against white background */
a {
    color: rgb(200, 255, 0);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
    margin: 0px 10px;
}
    .nav-link:hover, .nav-link:hover > a {
        text-decoration: none;
        background-color: lightgrey;
        color: darkcyan;
        border-radius: 5px;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin: 0px 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 18px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 100px;
    background-image: url('img3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(200, 255, 0);
    /*width: 100%;
    height: 100vh;*/
    background-size: cover;
    background-position: center;
    /*position: relative;
    overflow: none;*/
}
.header {
    color: rgb(200, 255, 0);
    background: #1b1b1b;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
