
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_title">
        <ul>
            <li>The cart is currently empty, search for a product <a class="nav-button" asp-area="" asp-controller="Store" asp-action="Categories">here</a>.</li>
        </ul>
        <b>Total: 0.0$</b>
    </div>
</div>