@model Bits_on_chips_application.Models.ViewModels.ComponentVM

@{
    ViewData["Title"] = "Create component";
}

<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="btns" style="margin-bottom: 30px">
        <a class="nav-button" asp-controller="Store" asp-action="Categories">Back to categories</a>
    </div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.ComponentName" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.ComponentName" class="form-control w-50" required />
                    <span asp-validation-for="Component.ComponentName" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Producer" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Producer" class="form-control w-50" required />
                    <span asp-validation-for="Component.Producer" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Price" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Price" class="form-control w-50" required />
                    <span asp-validation-for="Component.Price" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Interface" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Interface" class="form-control w-50" />
                    <span asp-validation-for="Component.Interface" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Size" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Size" class="form-control w-50" />
                    <span asp-validation-for="Component.Size" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Type" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Type" class="form-control w-50" />
                    <span asp-validation-for="Component.Type" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Buffer" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Buffer" class="form-control w-50" />
                    <span asp-validation-for="Component.Buffer" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Speed" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Speed" class="form-control w-50" />
                    <span asp-validation-for="Component.Speed" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Socket" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Socket" class="form-control w-50" />
                    <span asp-validation-for="Component.Socket" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Frequency" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Frequency" class="form-control w-50" />
                    <span asp-validation-for="Component.Frequency" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.MaxRead" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.MaxRead" class="form-control w-50" />
                    <span asp-validation-for="Component.MaxRead" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Efficiency" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Efficiency" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.Efficiency" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Technology" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Technology" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.Technology" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.Power" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.Power" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.Power" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.NumberCores" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.NumberCores" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.NumberCores" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.NumberSlots" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.NumberSlots" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.NumberSlots" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.NumberFans" class="control-label"></label>
                </th>
                <td>
                    <input asp-for="Component.NumberFans" class="form-control w-50" value="0" />
                    <span asp-validation-for="Component.NumberFans" class="text-danger"></span>
                </td>
            </tr>
            <tr class="form-group">
                <th>
                    <label asp-for="Component.CategoryId" class="control-label"></label>
                </th>
                <td>
                    <select asp-for="Component.CategoryId" class="form-control w-50" asp-items="@Model.TypeDropDown">
                        <option selected>--Select component type</option>
                    </select>
                    <span asp-validation-for="Component.CategoryId" class="text-danger"></span>
                </td>
            </tr>
            <tr class="btns">
                <th>
                </th>
                <td>
                    <input type="submit" value="Create" style="border-color: Highlight; color: Highlight" />
                </td>
            </tr>
        </table>
    </form>
</div>
