@model Bits_on_chips_application.Models.CartItem
@{ 
    ViewData["Title"] = "Change quantity";
}
<div class="text-center">
    <div class="title">@ViewData["Title"]</div>
    <div class="sub_sub_title" style="color:red">@TempData["message"]</div>
    <form class="input" method="post" asp-action="ChangeQuantity">
        <input asp-for="CartItemId" hidden />
        <table class="delete-info">
            <tr>
                <th><label asp-for="Component.Category.CategoryName"></label></th>
                <td>
                    <input type=text asp-for="Component.Category.CategoryName" style="background:grey; color:greenyellow" disabled />
                </td>
            </tr>
            <tr>
                <th><label asp-for="Component.Producer"></label></th>
                <td>
                    <input type=text asp-for="Component.Producer" style="background:grey; color:greenyellow" disabled />
                </td>
            </tr>
            <tr>
                <th><label asp-for="Component.ComponentName"></label></th>
                <td>
                    <input type=text asp-for="Component.ComponentName" style="background:grey; color:greenyellow" disabled />
                </td>
            </tr>
            <tr>
                <th><label asp-for="Component.Price"></label></th>
                <td>
                    <input type=text asp-for="Component.Price" style="background:grey; color:greenyellow" disabled />
                </td>
            </tr>
            <tr>
                <th><label asp-for="Quantity"></label><label>(Max @Model.Component.Quantity)</label></th>
                <td>
                    <input type=number asp-for="Quantity" />
                </td>
            </tr>
        </table>
        <div class="btns">
            <input type="submit" class="btn-edit" value="Change Quantity" />
            <a asp-action="ShoppingCart" class="btn-add">Cancel</a>
        </div>
    </form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>
